@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f1f1f1;
  background-color: #c4bbaa;
}

.logo {
  display: flex;
  align-items: center;
  width: 300px;
  padding-left: 40px;
}

/* .logo {
  background-color: burlywood;
} */
.logo span {
  color: #9f9f9f;
}

.search--notification--profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 300px);
  padding: 0 40px;
}

.search {
  background-color: #f1f4f8;
  border-radius: 50px;
  width: 400px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  background-color: transparent;
  outline: none;
  border: none;
  text-indent: 15px;
  width: 85%;
}

.search button {
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search button i {
  font-size: 1.1rem;
  color: #000000;
}

.notification--profile {
  display: flex;
  align-items: center;
}

.picon {
  margin-left: 20px;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 5px;
}

.lock {
  color: #5073fb;
  background-color: rgba(80, 115, 251, 0.2);
}

.bell {
  color: #000000;
  background-color: rgba(241, 210, 67, 0.2);
}

.chat {
  color: #000000;
  background-color: rgba(149, 255, 204, 0.2);
}

.profile {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 60px);
}

/* sidebar */

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  background-color: #c4bbaa;
  color: black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid #f1f1f1;
  transition: 0.3s;
}

.sidebar.active {
  width: 103px;
  overflow: hidden;
}

.sidebar.active .sidebar--item {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sidebar--items a,
.sidebar--bottom-items a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
}

.sidebar--items a:hover,
.sidebar--bottom-items a:hover {
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
}

#active--link {
  /* background-color: rgb(166, 116, 72); */
  color: rgb(0, 0, 0);
}

.sidebar--bottom-items li:last-child a {
  margin-bottom: 0;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 1.3rem;
}

.icon-0 {
  color: #000000;
  border-radius: 1px solid black;
}

.icon-1 {
  color: #000000;
  border-radius: 3px solid black;
}

.icon-2 {
  color: #000000;
}

.icon-3 {
  color: #000000;
}

.icon-4 {
  color: #000000;
}

.icon-5 {
  color: #000000;
}

.icon-6 {
  color: #000000;
}

.icon-7 {
  color: #000000;
}

.icon-8 {
  color: #000000;
}
.dropdownn {
  outline: none;
  border: none;
  background-color: #c4bbaa;
  border-radius: 0px;
  width: 100px;
  padding: 5px;
}

.main--content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 300px);
  padding: 0 40px;
  overflow-y: scroll;
  transition: 0.3s;
}

.main--content.active {
  width: calc(100% - 103px);
}

.container1 {
  width: 50%;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  background: rgb(227, 207, 166);
  /* background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  ); */
  border-radius: 10px;
}
input {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  width: 20%;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  float: left;
}
.col-1 {
  float: left;
  width: 30%;
  margin-top: 5px;
}
.col-2 {
  float: left;
  width: 70%;
  margin-top: 5px;
}
.col-3 {
  float: left;
  width: 35%;
  margin-top: 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#button-1 {
  background-color: rgb(241, 44, 44);
  padding-right: 10px;
}
#button-2 {
  background-color: rgb(90, 241, 44);
  padding-right: 10px;
}
.hide {
  display: none;
}
label.validation-error {
  color: rgb(248, 45, 5);
}
a {
  cursor: pointer;
  color: rgb(63, 6, 252);
  margin-right: 4px;
}
/* error */
.col-2.error input {
  border-color: red;
}
.col-2.success input {
  border-color: #4bb543;
}
.col-2 small {
  color: #b00020;
  font-size: smaller;
}

/* new */
h1 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: rgb(15, 15, 15);
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: rgb(69, 65, 65);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
/* body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: "Roboto", sans-serif;
} */
section {
  margin: 50px;
}

/* for custom scrollbar for webkit browser*/

/* ::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

@media screen and (max-width: 1100px) {
  .container1 {
    width: 60%;
    margin-top: 0;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 20px;
  }
  .col-1 {
    width: 30%;
  }
  .col-2 {
    width: 60%;
  }
}
/* Responsive layout - when screen size is 800 at max*/
@media screen and (max-width: 800px) {
  .container1 {
    width: 80%;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 20px;
  }
  .col-1,
  .col-2 {
    width: 100%;
  }
  th {
    font-weight: 500;
    font-size: 6px;
    color: #fff;
  }
  td {
    font-weight: 300;
    font-size: 6px;
  }
}
